@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.navbar ul {
  list-style-type: none;
  padding: 5px;
  margin-right: 75px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 55px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0%;
}

.navbar ul li a {
  color: rgb(255, 253, 253);
  text-decoration: none;
  font-family: Poppins;
}
.navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.329);
  transition: 0.3s ease;
}
.navbar img {
  padding: 1%;
  width: 90px;
  border-radius: 20%;
  position: relative;
  right: 500px;
}
body {
  height: 400vh;
}
.shota {
  font-family: Roboto;
  font-size: 40px;
}
main {
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1800px;
}
.shota {
  color: rgba(255, 255, 255, 0.863);
  align-items: center;
  margin: left 100px;
}

.banner {
  text-align: left;
  padding-top: 300px;
  padding-left: 250px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 50px;
}
.background {
  color: rgba(0, 0, 0, 0.836);
  font-family: Roboto;
}
.banner2 {
  font-size: 30px;
}
